h1{
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
}

.first-title{
    font-family:"Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
    text-align: center;
    text-shadow: 5px 4px rgb(189, 189, 189);

}

.logo{
    width: 60px;
    font-size: 1000px;
}

.prevention{
    color: red;
    width: 30px;
}

.card-img-top{
    width: 100px;
}
.visit-card{
    margin-left: 300px;
    margin-right: 300px;
}
.form{
    margin-top: 150px;
    margin-left: 700px;
    margin-right: 700px;
}
.title-page{
    margin-top: 150px;
    text-align: center;
    font-family:"Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
    text-shadow: 5px 4px rgb(189, 189, 189);
}

.title-sponsors{
    margin-top: 150px;
    text-align: center;
    font-family:"Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
    text-shadow: 5px 4px rgb(189, 189, 189);
}
.tire{
    width: 330px;
}
.preven{
    background-color: rgb(239, 239, 240);
    margin-right:20px;
}

footer{
    width: 100%;
    height: 50px;
}

.facebook:hover{
    color: blue;
}